@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.options {
  p {
    font-size: 0.7rem;
    @include font;
  }

  p:hover {
    color: $blue;
  }

  &__nav-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__seven,
  &__se,
  &__three,
  &__nike,
  &__hermes,
  &__studio,
  &__compare,
  &__bands,
  &__fitness,
  &__os,
  &__shop {
    width: 5rem;
    text-align: center;
  }

  &__seven-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__se-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__three-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__nike-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__hermes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__studio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__compare-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__bands-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__airpods-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
  }

  &__accessories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
  }

  &__fitness-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__os-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5rem;
  }

  &__seven-image {
    height: 3.5rem;
  }
  &__se-image {
    height: 3.5rem;
  }
  &__three-image {
    height: 3.5rem;
  }
  &__nike-image {
    height: 3.5rem;
  }
  &__hermes-image {
    height: 3.5rem;
  }
  &__studio-image {
    height: 3.5rem;
  }
  &__compare-image {
    height: 3.5rem;
  }

  &__band-image {
    height: 3.5rem;
  }

  &__airpods-image {
    height: 3.5rem;
  }

  &__accessories-image {
    height: 3.5rem;
  }

  &__fitness-image {
    height: 3.5rem;
  }

  &__os-image {
    height: 3.5rem;
  }

  &__shop-image {
    height: 3.5rem;
  }
}
